:root.theme_light {
  --main-font: 'IBM Plex mono';
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --text-button:#353430;
  --decor-visibility: hidden;
  --head-color: #353430;
  --content-title-color:#353430;
  --hover-color:#35343040;
}

@media (prefers-color-scheme: light) {
  :root.theme_light {
  --main-font: 'IBM Plex mono';
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --text-button:#353430;
  --decor-visibility: hidden;
  --hover-color:#35343040;
  }
}

.page.theme_light {
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --decor-visibility: hidden;
  --text-color: #353430;
  --text-button:#353430;
  --hover-color:#35343040;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #fff1f7);
  background-image: url(../images/cover-image-light.png);
}


