:root.theme_light {
  --main-font: "IBM Plex mono";
  --heading-color: #ffc2e6;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --text-button: #353430;
  --decor-visibility: hidden;
  --hover-color: #35343040;
  --content-title-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --color-shadow: #ff8dcb;
  --color-header: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono";
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --text-button: #353430;
    --decor-visibility: hidden;
    --hover-color: #35343040;
    --content-title-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --heading-color: #ffc2e6;
    --color-shadow: #ff8dcb;
    --color-header: #353430;
  }
}

@media (width >= 1024px) {
  :root {
    --color-shadow: #ff0070;
  }
}
