/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.title-decor {
  background-color: var(--accent-color);
}
.page {
  min-inline-size: 375px;
  margin: 0;
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100vh;
 
}

/* .cover {
  display: grid;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100vh;
} */

.header {
  display: grid;
  /* min-height: 668px; */
  min-block-size: 100vh;
  
}

.heading {
font-family: var(--main-font, sans-serif);
font-style: bold;
font-weight: 700;
line-height: 82.5%;
text-align: left;
color:var(--heading-color);
text-shadow: 4px 4px 0px var(--accent-color);
}

.header__title {
  margin-block-start: 65px;
  margin-block-end: 55px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.content-section {
  padding: 0 2.6vi;
}
.header__content {
font-family: var(--main-font, sans-serif);
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23.5px;
color: var(--bg-color);
margin-block-end: 65px;
}



.header__decor {
  position: absolute;
  z-index: -1;
  visibility: var(--decor-visibility);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.header__decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.header__decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--text-button, #ff0070);
  border-block-start: 1px solid var(--text-button, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--text-button, #ff0070);
  border-block-end: 1px solid var(--text-button, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}
.header__theme-menu {
  display: grid;
  max-height: 98px;
  min-width: 355px;
  margin-block-start: 75px;
  justify-items: end;
}

.header__theme-menu-list {
     display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.header__theme-menu-item {
  
  max-height: 26px;
}
.header__theme-menu-button {

font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
color: var(--text-button);
background-color: inherit;
border: 1px solid transparent;
padding: 4px 13px 4px 13px;

}



.header__theme-menu-button_active {
border-color: var(--text-button);
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: #ff007040;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.content {
  display: grid;
  margin-block-start: 40px;
  margin-block-end: 40px;
  gap: 50px;
  max-width: 355px;
}

.content__title {
  max-width: 355px;
  margin-block-end: 20px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23.5px;
color:var(--content-title-color);
}

.image-title {
  margin-block-end: 10px;
  font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23.5px;
color: var(--head-color);
background-color: var(--accent-color);
}

.content__concentrat-list,
.content__attention-list,
.content__focus-list {
  display: grid;
  max-width: 355px;
  gap: 20px;
}

.item__title {
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23.5px;
color:var(--head-color);
margin-block-end: 2.8%;
}

.content__concentrat-paragraph,
.content__attention-paragraph,
.content__focus-paragraph {
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23.4px;
color: var(--text-color);
}

.content__subtitle {
max-width: 355px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23.4px;
color:var(--head-color);
margin-block-end: 20px;
}

.images-wrapper {
  display: grid;
  gap: 10px;
  max-width: 355px;

}

.visual-images {
  max-width: 355px;
  max-height: 355px;
  object-fit: cover;
} 

.footer {
  display: flex;
  align-items: center;
    justify-content: center;
    min-block-size: 100vh;
  min-width: 355px;
  /* min-height:668px; */
}
.footer__title {
  display: flex;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}


.paragraph__link {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.paragraph__link:hover {
  text-decoration: underline;
}

.paragraph__link:focus {
  outline: 0;
}

.paragraph__link:focus-visible {
  outline: 1px solid currentColor;
}



