/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.title-decor {
  background-color: var(--accent-color);
}
.page {
  min-inline-size: 375px;
  margin: 0;
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* .cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
} */

.header {
  display: grid;

}

.heading {
font-family: var(--main-font, sans-serif);
font-style: bold;
font-weight: 700;
line-height: 82.5%;
text-align: left;
color: #DB00FF;
text-shadow: 4px 4px 0px var(--accent-color);
}

.header__title {
  margin-block-start: 65px;
  margin-block-end: 55px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.content-section {
  padding: 0 2.6vi;
}
.header__content {
font-family: var(--main-font, sans-serif);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: var(--bg-color);
}



.header__decor {
  position: absolute;
  z-index: -1;
  visibility: visible;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.header__decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.header__decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  display: grid;
min-height: 98px;
min-width: 70px;
 
margin-block-start: 49px;
}

.header__theme-menu-list {
     display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* align-items: center; */
 height: 100%;
}
.header__theme-menu-item {
  
  max-height: 26px;
}
.header__theme-menu-button {
width: 44px;
font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
color: var(--accent-color);
background-color: inherit;
border: none;
padding: 0px 13px 0px 13px;

}