/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.title-decor {
  background-color: var(--accent-color);
}

.page {
  min-inline-size: 375px;
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  grid-template-columns: 1fr;
  min-block-size: 668px;
  block-size: 100vh;
}

.heading {
  font-family: var(--main-font, monospace);
  font-style: bold;
  font-weight: 700;
  line-height: 0.83;
  text-align: left;
  color: var(--heading-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__title {
  align-self: center;
 margin-block-start: 55px;
  margin-block-end: 55px;
  font-size: var(--font-size,clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
}

.content-section {
  padding: 0 2.6vi;
}

.header__content {
  display: grid;
  align-self: start;
  font-family: var(--main-font, monospace);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--bg-color);
}

.header__decor {
  position: absolute;
  z-index: -1;
  visibility: var(--decor-visibility);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.header__decor::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.header__decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--text-button, #ff0070);
  border-block-start: 1px solid var(--text-button, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--text-button, #ff0070);
  border-block-end: 1px solid var(--text-button, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu {
  display: grid;
  align-self: end;
  justify-items: end;
  margin-block-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  max-height: 26px;
}

.header__theme-menu-button {
  font-family: var(--main-font, monospace);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--text-button);
  background-color: inherit;
  border: 1px solid transparent;
  padding: 4px 13px 4px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--text-button);
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.content {
  display: grid;
  margin-block-start: 40px;
  margin-block-end: 40px;
  gap: 50px;
}

.content__title {
  min-width: 236px;
  margin-block-end: 20px;
  font-family:  var(--main-font, monospace);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--content-title-color);
}

.image-title {
  margin-block-end: 10px;
  font-family:  var(--main-font, monospace);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--head-color);
  background-color: var(--accent-color);
}

.content__concentrat,
.content__attention,
.content__focus {
  display: grid;
}

.content__concentrat-list,
.content__attention-list,
.content__focus-list {
  display: grid;
  gap: 20px;
}

.content__concentrat-list-item,
.content__attention-list-item,
.content__focus-list-item {
  display: grid;
  gap: 10px;
}

.item__title {
  font-family:  var(--main-font, monospace);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--head-color);
}

h4.item__title {
  font-weight: normal;
}
.content__concentrat-paragraph,
.content__attention-paragraph,
.content__focus-paragraph {
  font-family:  var(--main-font, monospace);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #F1B2CE);
}

.focus__subtitle {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--head-color);
  margin-block-end: 20px;
}

.images-wrapper {
  display: grid;
  gap: 10px;
}

.visual-images {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  place-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.footer__title {
  font-weight: 700;
  font-size: var(--font-size,clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: 82.5%;
}

.paragraph__link {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.paragraph__link:hover {
  border-bottom: 1px solid currentColor;
}

.paragraph__link:focus {
  outline: 0;
}

.paragraph__link:focus-visible {
  outline: 1px solid currentColor;
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
    min-block-size: 1024px;
  }

  .header__decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header__title {
    align-self:center;
    margin-block-start: 162px;
    margin-block-end: 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__content {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .content__concentrat,
  .content__focus {
    display: grid;
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    column-gap: 20px;
    margin-block-start: 20px;
  }

  .content__focus-list {
    display: grid;
    grid-column-start: 2;
  }

  .content__concentrat-list-item {
    display: grid;
    gap: 10px;
  }

  .content {
    gap: 80px;
    margin-block-end: 60px;
  }

  .content__visual {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
  }

  .image-title {
    margin-block-end: 20px;
  }

  .images-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .visual__item:first-child,
  .visual__item:last-child {
    grid-column-start: span 2;
  }

  .visual__item:nth-child(2),
  .visual__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .content__title {
    max-width: 236px;
  }

  .content__focus {
    margin-top: 0;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
   
  }

  .content-section {
    padding: 0;
  }

  .header__theme-menu {
    align-self: start;
    margin-block-start: 20px;
    justify-items: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
    gap: 10px;
  }

  .header__title {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .header__content {
    align-self: center;
    margin-right: 20px;
    margin-bottom: 20px;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .content__title {
    max-width: 314px;
  }

  .focus__subtitle {
    margin-block-end: 20px;
  }
  .content {
    padding: 0 20px;
  }

  .content__concentrat,
  .content__focus {
    column-gap: 30px;
  }

  .content__attention-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-block-size: 768px;
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
